<a href="https://colab.research.google.com/github/dheeraj2298/Python/blob/master/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given a number count the total number of digits in a number
For example: The number is 75869, so the output should be

In [ ]:
a=int(input("Enter the Number:"))
count=0
while(a>0):
    count=count+1
    a=a//10
print("The number of digits in given number:",count)

Enter the Number:12345
The number of digits in given number: 5

2.Reverse the following list using for loop

In [ ]:
list = []
n=int(input("Enter number of elements:"))
for i in range (0,n):
    a=int(input())
    list.append(a)
print(list)
listA=list[::-1]
print("Reverse list is:",listA)

Enter number of elements:10
12
20
30
40
50
60
70
80
90
100
[12, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Reverse list is: [100, 90, 80, 70, 60, 50, 40, 30, 20, 12]

3.Given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1

In [1]:
s1 = "dheerajdavkhar"
s2 = "eknath"
print("The original string is:",s1)
print("The added string is:",s2)
n=7
s3 = list(s1)
s3.insert(7,s2)
s3 = "".join(s3)
print("The new string is:",s3)

The original string is: dheerajdavkhar
The added string is: eknath
The new string is: dheerajeknathdavkhar

4. Arrange String characters such that lowercase letters should come first

In [2]:
input_string=input("Enter the String:")
lower = ""
upper = ""
for i in input_string:
  if i.islower():
    lower += i
  else:
    upper += i
print(lower+upper)

Enter the String:abcFGHtyu
abctyuFGH

5.Given a string, return the sum and average of the digits that appear in the string, ignoring all other
characters

In [1]:
def sumAndAverage(ip_str):
  l= ip_str.split()
  num_list = []
  
  for i in l:
    if i.isnumeric():
      num_list.append(int(i))

  digit_sum = sum(num_list)
  digit_avg = digit_sum/len(num_list)

  return "Sum :- " + str(digit_sum) + " Avg :-" + str(digit_avg)

In [5]:
sumAndAverage("English = 78 Science = 83 Math = 68 History = 65")

'Sum :- 294 Avg :-73.5'

6.Given a two list. Create a third list by picking an odd-index element from the first list and even index
elements from second.

In [7]:
list1 = [1,2,3,4,5,6]
list2 = [7,8,9,10,11,12]
even_i = []
odd_i = []
even_i = list1[::2]
odd_i = list2[1::2]
list3 = even_i + odd_i
print("Even index list is:",even_i)
print("Odd index list is:",odd_i)
print("Mix index list is:",list3)

Even index list is: [1, 3, 5]
Odd index list is: [8, 10, 12]
Mix index list is: [1, 3, 5, 8, 10, 12]